body
  background: white;
  form.message-input
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    input
      margin-bottom: 0

  #messages
    margin: 2rem 0
    .msg.twitter > div
      background-color: #C0DEED
    .msg
      .name
        padding: 0 .5rem
        font-weight: bold
      .name:before
        content: '<'
      .name:after
        content: '>'
